
/* reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	
}


body {
	
	background: #000019;
}

/* reset style close color body */

/* animation body entry*/
.fede-in-animate {
  animation-duration: 3s;
  animation-name: example;
}
@keyframes example {
  0% {
    opacity: 0
  }
  100% {
    opacity: 100;
  }
}
/* animation body entry-end*/


/* nav style */
.sytle-nav li{
	float: left;
	list-style-type: none;
	letter-spacing: 5px;
    
}
.sytle-nav{
	padding-left: 50px;
	padding-top: 30px;
	width: 100%;
	z-index: 99;
	position: absolute;
	position: fixed;
	
	
}



.position-content{
	margin-top: 19px;
	padding-left: 40px;
}

.sytle-nav a {
    font-family: trumpgothicpro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.sytle-nav a:hover {
    color: #969696;
}

/* nav style close */

/* line */
.vl {
  border: 0.5px solid #ffffff;
  height: 44px;
  margin-top: 6px;
  margin-left: 39px;
}

/* line end */
/* parallax */
.scene {
	z-index: auto;
	position: absolute;
	width: 100%;
	transform: translateY(var(--translateY));
	will-change: transform;
}
/* parallax end*/
/* container section services */

.container{
	position: absolute;
	margin-top: 1600px;	
	left: 15%;
  margin-left: -15px;
	
}
.box{
  width: 480px;
  height: 550px;
  float: left;
 
}
.title1{
	font-family: trumpgothicpro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 87px;
	color: #ffffff;
	opacity: 30%;
	letter-spacing: 5px;
	
}
.content-box{
	margin-top: 140px;
	padding: 25px;
}
.title-box{
color: aliceblue;
text-align: center;
font-family: 'Cantarell', sans-serif;
margin-top: 40px;
font-size: 30px;
font-weight: 700;
	
}
.paragraphone{
	color: aliceblue;
	text-align: center;
	font-family: 'Cantarell', sans-serif;
	margin-top: 15px;
	font-size: 20px;
}
.icon-position{
	margin-top: 80px; 
	display: block;
	margin: auto;
}
/* services end*/
/* works start*/
.content-container{
	width: 30%;
	height: 400px;
}
.container2{
	position: absolute;
	margin-top: 2600px;	
	left: 15%;
    margin-left: -15px;
}

/* section box work*/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/* section box work end*/
/* works end*/

	





