
/* reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	
}

@font-face {
font-family: 'trump';
src: url("font/trump/trump.ttf")format('truetype');
}

@font-face {
font-family: 'cantarell bold';
src: url("font/cantarell/Cantarell-Bold.ttf") format('truetype');
}

@font-face {
font-family: 'cantarell regular';
src: url("font/cantarell/Cantarell-Regular.ttf") format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {	 
	background: #151834;
}

/* slideshow start */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/* slideshow end */

/* pop*/
.porition-but-detail{
	margin-top: 40px;
}

.button {
	   margin-top: 50px;
	  text-align: center;
      background-color: #BE77CE;
      color: #151631;
      font-family: 'trump';
      letter-spacing: 3px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
	  font-size: 20px;
	  transition: all 0.2s ease-out;
	text-decoration: none;	   
   }

.button:hover {
      background-color: #8628bd;
   }

.button:active {
      background-color: #A378C1;
   }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
	z-index: 70;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'cantarell bold';
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  font-family: 'cantarell regular';
  z-index: 80;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  font-family: 'cantarell regular';
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
/*pop */

/* selection */
::-moz-selection {
background: #5A00F7;
color: white;
opacity: 100%
}
::selection {
background:  #5A00F7;
color: white;
	opacity: 100%
}
/* selection */

/* animation body entry*/
.fede-in-animate {
  animation-duration: 4s;
  animation-name: example;
}
@keyframes example {
  0% {
    opacity: 0
  }
  100% {
    opacity: 100;
  }
}
/* animation body entry-end*/

#navbar {
	z-index: 98;
	position: absolute;
	position: fixed;
	transition: top 0.3s;
	width: 100%;
	background: linear-gradient(rgba(18, 18, 18, 0.4), rgba(0, 0, 25, 0));
	top: -120px;
	padding-bottom: 10px;
}

/* nav style */
.style-nav li {
	float: left;
	list-style-type: none;
	letter-spacing: 5px;
}

.style-nav {
	padding-left: 50px;
	padding-top: 30px;
	width: 100%;
}

.position-content {
	margin-top: 19px;
	padding-left: 40px;
}

.style-nav a {
    font-family: 'trump';
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.style-nav a:hover {
    color: #8610de;
}

.style-nav a:active {
    color: #A378C1;
}

li img {
  transition: filter .3s ease-in-out;
  transition: background .3s ease-in-out;
  filter: opacity(85%);
}

li img:hover {
  filter: opacity(100%);	
}
/* nav style close */

/* burger menu*/
#menu-toggle {
    display: none;
  }
/* burger menu end*/

/* line */
.vl {
  border: 0.5px solid #ffffff;
  height: 44px;
  margin-top: 6px;
  margin-left: 39px;
}
/* line end */

/* parallax */
.scene {
	z-index: auto;
	position: absolute;
	width: 100%;
	transform: translateY(var(--translateY));
	will-change: transform;
}

.position-thumb-image {
	top: 35%;
	left: 0;
	right: 0;
}
/* parallax end*/

/* container section services */
.title1 {
color: #ffffff;
opacity: 30%;
text-align: center;
font-family: 'trump';
font-size: 52px;
font-weight: 700;
font-style: normal;
letter-spacing: 5px;
margin-bottom: 40px;
}

.container {
	left: 0;
	right: 0;
	display: flex;
	position: absolute;
	justify-content: center;
	margin-top: 990pt;
	background: #151834;	
}

.wrap {
	text-align: center;
	align-content: center;
	justify-content: center;
	align-items: center;
	display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
padding-left: 80px;
	padding-bottom: 80px;
	padding-right: 80px;
}

h1 {
color: #ffffff;
opacity: 100%;
text-align: center;
font-family: 'cantarell bold';
font-size: 20px;
font-style: normal;
letter-spacing: 1px;
margin-bottom: 0px;
}

p { 
color: #ffffff;
opacity: 100%;
text-align: center;
font-family: 'cantarell regular';
font-size: 15px;
font-style: normal;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 0px;
}
/* services end*/

/* works start*/
.container2 {
	position: absolute;
	margin-top: 1550pt;	
	padding-left: 200px;
	padding-right: 200px;
    left: 0;
	right: 0;
}
.paragraphone2 {
	color: aliceblue;
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
}

/* section box work*/
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding:  4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
	transition: filter .3s ease-in-out;
  transition: background .3s ease-in-out;
  -webkit-filter: opacity(70%); 
  filter: opacity(70%);
}

.column img:hover {
  -webkit-filter: opacity(100%); 
  filter: opacity(100%);
}

@media screen and (max-width: 800px) {
	.position-thumb-image {
	top: 10%;
	left: 0;
	right: 0;
}
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
	.position-thumb-image{
	top: 10%;
	left: 0;
	right: 0;
}
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/* section box work end*/

.style-label-pop {
	color: #5B5B5B;
	font-family: 'cantarell regular';
	font-size: 15;
}
/* works end*/

/* About us*/
.container3 {
	padding:50px;
	left: 0;
	right: 0;
	display: flex;
	position: absolute;
	justify-content: center;
	margin-top: 2200pt;
}

.wrap3 {
	text-align: center;
	align-content: center;
	justify-content: center;
	align-items: center;
	display: flex;
    flex-wrap: wrap;
}

.box3 {
padding: 20px;
}

.image-card {
	background-image: url("img/alessia.png");
	width: 250px;
	height: 299px;
	border-radius: 5px;
}

.style-label {
	font-size: 20px;
	margin-bottom: 30px;
}

.image-card:hover {
	transform: scale(1.1);
	transition: 0.2s ease-in-out 0.3s;
}

.position-icon {
	margin-top: 250px;
	padding: 5px;
}

.position-icon:hover {
	opacity: 60%;
	margin-top: 250px;
	padding: 5px;
}

.image-card2 {
	color: aliceblue;
	background-image: url("img/sarah.png") ;
	width: 250px;
	height: 299px;
	border-radius: 10px;
}

.image-card2:hover {
	transform: scale(1.1);
	transition: 0.2s ease-in-out 0.3s;
}

.image-card3 {
	background-image: url("img/gennaro.png");
	width: 250px;
	height: 299px;
	border-radius: 10px;
}

.image-card3:hover {
	transform: scale(1.1);
	transition: 0.2s ease-in-out 0.3s;
}

.image-card4 {
	background-image: url("img/simona.png");
	width: 250px;
	height: 299px;
	border-radius: 10px;
}

.image-card4:hover {
	transform: scale(1.1);
	transition: 0.2s ease-in-out 0.3s;
}
/* About us end*/

/* contact start*/
.container4 {
	left: 0;
	right: 0;
	display: flex;
	position: absolute;
	justify-content: center;
	margin-top: 2850pt;
}

.colcont {
      padding: 0 20px;
      float: left;
}

.x-50 {
    width: 50%;
}

.x-100 {
    width: 100%;
}
  
   .form-field {
      position: relative;
      margin: 32px 0;
   }

   .input-text {
	   position: relative;
      display: block;
      height: 36px;
      border-width: 0 0 2px 0;
      border-color: #8628bd;
       width: 100%;
      font-family: 'cantarell regular';
      font-size: 18px;
      line-height: 26px;
      background-color: #151834;
       color: #dfaee7;
}

   .label {
      position: absolute;
      bottom: 38px;
      font-family:'trump';
      font-size: 19px;
      letter-spacing: 3px;
      line-height: 24px;
      color: #5B5B6E;
      cursor: text;
      transition: transform .2s ease-in-out;
   }
   
   .submit-button {
	   margin-top: 50px;
	  text-align: center;
      background-color: #BE77CE;
      color: #151631;
      font-family: 'trump';
      letter-spacing: 3px;
      width: 100%;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
	  font-size: 20px;
	  transition: all 0.2s ease-out; 
   }

.submit-button:hover {
      background-color: #8628bd;
   }

.submit-button:active {
      background-color: #A378C1;
   }
/* contact end*/

/* footer*/
.footer-style {
	display: flex;
	width: 100%;
	height: 200px;
	background: rgba(45,20,125,1.00);
	position: absolute;
	margin-top: 8450px;
	color: aliceblue;
	font-size: 15px;
	font-family: 'cantarell regular';
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0;
}

.parag {
	text-align: center;
	padding: 0;
}

.center-content {
	margin-left: 20px;;
	margin-right: 20px;;
}
/* footer end*/

@media all and (max-width: 1186px) {
}

@media all and (max-width: 1616px) {
    .container {
        margin-top: 800px;
    }
    .container3 {
        margin-top: 2800px;
    }
    .container3 {
        margin-top: 3200px;
    }
	.container4 {
		margin-top: 4800px;
	}
}
	.footer-style {
	margin-top: 4500px;
}

@media all and (max-width: 1000px){
  .styleimg {
    width: 30%
  }
	.style-nav {
		display: none;
	}
  .hidden {
    display: none;
  }
  #menu-toggle {
    left: 80%;
    position: absolute;
    display: block;
  }
  .mobile-button {
    background: #151631;
  }
  .mobile-menu {
    margin-right: 0;
	  margin-left: 0;
    overflow: hidden;
  }
  .mobile-content {
    display: none;
    position: absolute;
    background-color: #151631;;
    width: 340px;
	margin-top: -10px;
    margin-left: -290px;
	opacity:90%;
      font-family: 'cantarell bold'
  }
  .mobile-content a {
    float: none;
    color: #fff;
    padding: 20px 25px;
    text-decoration: none;
    display: block;
    text-align: left;
   background: #151631;
    border-bottom: 0.1px solid #ffffff;
  }
  .mobile-button {
    border: 0;
  }
  .mobile-content a:hover {
    background-color: #5A00F7;
  }
  .mobile-menu:hover .mobile-content {
    display: block;
    animation-duration: 0.4s;
    animation-name: example;
  }
      .submit-button {
           width: 100%;
   }
}

@media all and (min-width: 700px) and (max-width: 937px) {
	.position-thumb-image {
	top: 15%;
	left: 0;
	right: 0;
}
    .container {
        margin-top: 350pt;	
        
    }
    .container2 {
		margin-top: 1200pt;	
		
	}
    .container3 {
		margin-top: 2200px;
	}
	
.container4 {
		margin-top: 3400px;
	}
    .footer-style {
        margin-top: 4100px;
    }
    }

@media all and (min-width: 937px) and (max-width: 1094px) {
    .container {
        margin-top: 450pt;
    }
     .container2 {
        margin-top: 2400px;
    }
    .container4 {
        margin-top: 3400px;   
    }
    .footer-style {
        margin-top: 5100px;
    }
}

@media all and (min-width: 938px) and (max-width: 1076px) {
     .container2 {
        margin-top: 1100pt;	
    }
    .container3 {
        margin-top: 1400pt;	
    }
    .container4 {
        margin-top: 2200pt;	
    }
    .footer-style {
        margin-top: 3600px;
    }
   }

@media all and (min-width: 938px) and (max-width: 1603px) {
    .container2 {
        margin-top: 1200pt;	
    }
    .container3 {
        margin-top: 1500pt;	
    }
    .container4 {
        margin-top: 2600pt;	
    }
    .footer-style {
        margin-top: 3600px;
    }
    }

@media all and (min-width: 938px) and (max-width: 1554px) {
    .container2 {
        margin-top: 1300pt;
    }
    .container3 {
        margin-top: 1600pt;	
    }
     .container4 {
        margin-top: 2400pt;	
    }
     .footer-style {
        margin-top: 3800px;
}
}

 @media all and (min-width: 938px) and (max-width: 1502px) {
       .container2 {
        margin-top: 1300pt;	
    }
       .container3 {
        margin-top: 1600pt;	
    }
     .container4 {
        margin-top: 2400pt;	
    }
     .footer-style {
        margin-top: 3800px;
     }
	}

@media all and (min-width: 938px) and (max-width: 1017px) {
    .container {
        margin-top: 390pt;	
    }
    .container2 {
		margin-top: 1210pt;	
        padding: 20px;
	}
    .container3 {
		margin-top: 2250px;
	}
.container4 {
		margin-top: 3400px;
	}
    .footer-style {
        margin-top: 4100px;
    }
	 }
/* mobile*/
@media all and (min-width: 320px) and (max-width: 500px) {
	.position-thumb-image {
	top: 10%;
	left: 0;
	right: 0;
    }
    .container {
		margin-top: 300pt;	
	}
	.container2 {
		margin-top: 1380pt;	
        padding:20px;
	}
    .container3 {
		margin-top: 4550px;
	}
.container4 {
		margin-top: 6400px;
	}
    .footer-style {
        margin-top: 7000px;
    }
	ul.position-li li {
        padding: 3px;
        font-size: 13px;	
}
	}