
/* reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	
}
html {
  scroll-behavior: smooth;
}

body {
	 
	background: #151631;
}


/* reset style close color body */
/* selection */
::-moz-selection  {
background: #5A00F7;
color: white;
opacity: 100%
}
::selection   {
background:  #5A00F7;
color: white;
	opacity: 100%
}
/* selection */


/* animation body entry*/
.fede-in-animate {
  animation-duration: 4s;
  animation-name: example;
}
@keyframes example {
  0% {
    opacity: 0
  }
  100% {
    opacity: 100;
  }
}
/* animation body entry-end*/


#navbar{
	z-index: 98;
	position: absolute;
	position: fixed;
	transition: top 0.3s;
	width: 100%;
	background: linear-gradient(rgba(18, 18, 18, 0.4), rgba(0, 0, 25, 0));
	top: -120px;
	padding-bottom: 10px;
	
	
}
/* nav style */
.sytle-nav li{
	float: left;
	list-style-type: none;
	letter-spacing: 5px;
    
}
.sytle-nav{
	padding-left: 50px;
	padding-top: 30px;
	width: 100%;
}



.position-content{
	margin-top: 19px;
	padding-left: 40px;
}

.sytle-nav a {
    font-family: trumpgothicpro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.sytle-nav a:hover {
    color: #8610de;
}

li img{
  transition: filter .3s ease-in-out;
  transition: background .3s ease-in-out;
  filter: opacity(85%);
}

li img:hover {
  filter: opacity(100%);	
}
/* nav style close */
/* burger menu*/
#menu-toggle {
    display: none;
  }
/* burger menu*/

/* line */
.vl {
  border: 0.5px solid #ffffff;
  height: 44px;
  margin-top: 6px;
  margin-left: 39px;
}

/* line end */
/* parallax */
.scene {
	z-index: auto;
	position: absolute;
	width: 100%;
	transform: translateY(var(--translateY));
	will-change: transform;
	
}

.position-thumb-image{
	
	top: 35%;
	left: 0;
	right: 0;
}

/* parallax end*/
/* container section services */
.title1{
color: #ffffff;
opacity: 30%;
text-align: center;
font-family: trumpgothicpro, sans-serif;
font-size: 52px;
font-weight: 700;
font-style: normal;
letter-spacing: 5px;
margin-bottom: 40px;
}

.container{
	left: 0;
	right: 0;
	display: flex;
	position: absolute;
	justify-content: center;
	margin-top: 990pt;
	background: #151631;	
}
.wrap{
	text-align: center;
	align-content: center;
	justify-content: center;
	align-items: center;
	display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box{
padding-left: 80px;
	padding-bottom: 80px;
	padding-right: 80px;
}
h1{
color: #ffffff;
opacity: 100%;
text-align: center;
font-family: 'Cantarell', sans-serif;
font-size: 20px;
font-weight: 700;
font-style: normal;
letter-spacing: 1px;
margin-bottom: 0px;
}
p{ 
color: #ffffff;
opacity: 100%;
text-align: center;
font-family: 'Cantarell', sans-serif;
font-size: 15px;
font-weight: 400;
font-style: normal;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 0px;
}
/* services end*/

/* works start*/

.container2{
	position: absolute;
	margin-top: 1550pt;	
	padding-left: 200px;
	padding-right: 200px;
    left: 0;
	right: 0;
	
}
.paragraphone2{
	color: aliceblue;
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
}

/* section box work*/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding:  4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
	transition: filter .3s ease-in-out;
  transition: background .3s ease-in-out;
  -webkit-filter: opacity(70%); 
  filter: opacity(70%);
}
.column img:hover {
   
  -webkit-filter: opacity(100%); 
  filter: opacity(100%);
	
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* section box work end*/
/* works end*/
/* About us*/
.container3{
	left: 0;
	right: 0;
	display: flex;
	position: absolute;
	justify-content: center;
	margin-top: 2300pt;
}
.wrap3{
	text-align: center;
	align-content: center;
	justify-content: center;
	align-items: center;
	display: flex;
  flex-wrap: wrap;
}
.box3{
padding: 20px;

}
.image-card{
	background-image: url("img/alessia.png");
	width: 250px;
	height: 299px;
	border-radius: 10px;
}
.image-card2{
	
	background-image: url("img/sarah.png");
	width: 250px;
	height: 299px;
	border-radius: 10px;
}
.image-card3{
	
	background-image: url("img/gennaro.png");
	width: 250px;
	height: 299px;
	border-radius: 10px;
}
.image-card4{
	
	background-image: url("img/simona.png");
	width: 250px;
	height: 299px;
	border-radius: 10px;
}

/* About us end*/

/* contact start*/

.container4{
	left: 0;
	right: 0;
	display: flex;
	position: absolute;
	justify-content: center;
	margin-top: 2850pt;
}

.colcont {
      padding: 0 20px;
      float: left;
}

.x-50{
         width: 50%;
      }

.x-100 {
         width: 100%;
      }
  
   .form-field {
      position: relative;
      margin: 32px 0;
   }

   .input-text {
      display: block;
      height: 36px;
      border-width: 0 0 2px 0;
      border-color: #8628bd;
       width: 100%;
      font-family: 'Cantarell', sans-serif;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      background-color: #151631;
       color: #dfaee7;
}

   .label {
      position: absolute;
      bottom: 11px;
      font-family: trumpgothicpro, sans-serif;
      font-size: 19px;
      letter-spacing: 3px;
      line-height: 24px;
      color: #5B5B6E;
      cursor: text;
      transition: transform .2s ease-in-out;
   }
   
.label:hover {
    transform: translateY(-24px);
}

   .submit-button {
      background-color: #BE77CE;
      color: #151631;
      font-family: trumpgothicpro, sans-serif;
      letter-spacing: 3px;
      font-size: 20px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
   }

.submit-button:hover {
      background-color: #8628bd;
   }

/* contact end*/

/* footer*/
.footer-style{
	display: flex;
	width: 100%;
	height: 100px;
	background: rgba(45,20,125,1.00);
	position: absolute;
	margin-top: 4450px;
	flex-flow: row;
	color: aliceblue;
	font-size: 15px;
}
.bottom-space{
	padding-top: -10px;
	padding-left: 20px;
}
.bottom-space-logo{
	padding-top: 30px;
	margin-left: 40px;
}

.footer-style li{
	float: right;
	padding: 40px;
	list-style-type:none;
}
/* footer*/
@media all and (min-device-width : 320px) and (max-device-width : 480px) {
	.container{
		margin-top: 300px;
	}
	.container2{
		margin-top: 1500px;
		padding-left: 80px;
	padding-right: 80px;
	}
	.container3{
		margin-top: 4000px;
	
	}
	.footer-style{
		margin-top: 6000px;
		
	}
}

@media all and (max-width: 500px) {
	.footer-style{
		margin-top: 6500px;
		
	}
	
	.container{
		margin-top: 300px;
	}
	.container2{
		margin-top: 1500px;
		padding-left: 80px;
	padding-right: 80px;
	}
	
	.container3{
		margin-top: 4000px;
	
	}
	.position-thumb-image{
		top:10%;
	}
    
}



@media only screen and (max-width: 1000px) {
  .styleimg {
    width: 30%
  }
	.sytle-nav{
		display: none;
	}
  .hidden {
    display: none;
  }
  #menu-toggle {
    left: 80%;
    position: absolute;
    display: block;
	 
	 
  }
  .mobile-button {
    background: #151631;
	  
  }
  .mobile-menu {
    margin-right: 0;
	  margin-left: 0;
    overflow: hidden;
  }
  .mobile-content {
    display: none;
    position: absolute;
    background-color: #151631;;
    width: 340px;
	margin-top: -10px;
    margin-left: -290px;
	opacity:90%;
  }
  .mobile-content a {
    float: none;
    color: #fff;
    padding: 20px 25px;
    text-decoration: none;
    display: block;
    text-align: left;
   background: #151631;
    border-bottom: 0.1px solid #ffffff;
  }
  .mobile-button {
    border: 0;
  }
  .mobile-content a:hover {
    background-color: #5A00F7;
  }
  .mobile-menu:hover .mobile-content {
    display: block;
    animation-duration: 0.4s;
    animation-name: example;
  }
    .container4{
		margin-top: 3800px;
	}
       .submit-button {
           width: 100%;
   }
}

@media all and (max-width: 1616px) {
.container4{
		margin-top: 3800px;
	}
	
    
}

@media all and (max-width: 816px) {
.container4{
		margin-top: 4700px;
	}
    #menu-toggle {
    display: block;
  }
}


@media all and (max-width: 500px) {
	.container2{
		margin-top: 1240pt;	
		
	}
.container4{
		margin-top: 6000px;
	}
}