
/* reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	
}
html {
  scroll-behavior: smooth;
}

body {
	 
	background: #000019;
}



.cursor {
	z-index: 99;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {

    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .2s forwards;
    border: 1px solid red;
}


  


/* reset style close color body */
/* selection */
::-moz-selection  {
background: #5A00F7;
color: white;
	opacity: 100%
}
::selection   {
background:  #5A00F7;
color: white;
	opacity: 100%
}
/* selection */


/* animation body entry*/
.fede-in-animate {
  animation-duration: 3s;
  animation-name: example;
}
@keyframes example {
  0% {
    opacity: 0
  }
  100% {
    opacity: 100;
  }
}
/* animation body entry-end*/


#navbar{
	z-index: 98;
	position: absolute;
	position: fixed;
	transition: top 0.3s;
	width: 100%;
	background: linear-gradient(rgba(18, 18, 18, 0.4), rgba(0, 0, 25, 0));
	top: -120px;
	padding-bottom: 10px;
	
	
}
/* nav style */
.sytle-nav li{
	float: left;
	list-style-type: none;
	letter-spacing: 5px;
    
}
.sytle-nav{
	padding-left: 50px;
	padding-top: 30px;
	width: 100%;
	
	
	
	
}



.position-content{
	margin-top: 19px;
	padding-left: 40px;
}

.sytle-nav a {
    font-family: trumpgothicpro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.sytle-nav a:hover {
    color: #8610de;
}

li img{
	transition: filter .3s ease-in-out;
  transition: background .3s ease-in-out;
  filter: opacity(85%);
}

li img:hover {
  filter: opacity(100%);	
}
/* nav style close */


/* line */
.vl {
  border: 0.5px solid #ffffff;
  height: 44px;
  margin-top: 6px;
  margin-left: 39px;
}

/* line end */
/* parallax */
.scene {
	z-index: auto;
	position: absolute;
	width: 100%;
	transform: translateY(var(--translateY));
	will-change: transform;
}
/* parallax end*/
/* container section services */

.container{
	position: absolute;
	margin-top: 1600px;	
	left: 15%;
  margin-left: -15px;
	
}
.box{
  width: 480px;
  height: 550px;
  float: left;
 
}
.title1{
	font-family: trumpgothicpro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 87px;
	color: #ffffff;
	opacity: 30%;
	letter-spacing: 5px;
	
}
.content-box{
	margin-top: 140px;
	padding: 25px;
}
.title-box{
color: aliceblue;
text-align: center;
font-family: 'Cantarell', sans-serif;
margin-top: 40px;
font-size: 30px;
font-weight: 700;
	
}
.top-space{
	margin-top: 40px;
}
.paragraphone{
	color: aliceblue;
	text-align: center;
	font-family: 'Cantarell', sans-serif;
	margin-top: 15px;
	font-size: 20px;
}
.icon-position{
	margin-top: 80px; 
	display: block;
	margin: auto;
}
/* services end*/
/* works start*/

.container2{
	position: absolute;
	margin-top: 2700px;	
	left: 15%;
    margin-left: -15px;
	padding-right: 15%;
}
.paragraphone2{
	color: aliceblue;
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
}

/* section box work*/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding:  4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
	transition: filter .3s ease-in-out;
  transition: background .3s ease-in-out;
  -webkit-filter: opacity(70%); 
  filter: opacity(70%);
}
.column img:hover {
   
  -webkit-filter: opacity(100%); 
  filter: opacity(100%);
	
}


/* section box work end*/
/* works end*/
/* About us*/
.container3{
	position: absolute;
	margin-top: 3700px;	
	left: 15%;
    margin-left: -15px;
	width: 71%;
}

.cardsbox {
  flex-wrap: wrap;
  display: flex;
}

.teamcard{
  height: 446px;
  float: left;
  border: solid #B04D4F;
    border-radius: 15px;
  max-width: 100%;
  flex: 22%;
  margin: 0px 11px 0px 11px;
}
/* About us end*/
/* contact us*/
.container4{
	position: absolute;
	margin-top: 4700px;	
	left: 15%;
    margin-left: -15px;
	padding-right: 15%;
	width: 71%;
}

/* About us end*/
.footer{
	margin-top: 6700px;	 
	position: absolute;
	width: 100%;
	height: 200px;
	background: #4523D1;
}

@media screen and (max-width: 1200px) {
    .teamcard{
  flex: 31%;
}
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
    .teamcard{
  flex: 100%;
}
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}





